.formContainer {
  background: transparent;
}
.dropForm {
  border-radius: 32px;
}

.modal-content {
  background: linear-gradient(
    135deg,
    rgba(20, 51, 154, 0.1),
    rgba(162, 170, 255, 0)
  ) !important;
  backdrop-filter: blur(20px) !important;
  -webkit-backdrop-filter: blur(30px) !important;
  box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.37) !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
  border-radius: 32px !important  ;
}

.modal-header {
  background: transparent !important;
}

.modal-body {
  background: transparent !important;
}

.modal{
  --bs-modal-bg: transparent !important;
  background-color: transparent !important; 
}

.modal-backdrop{
  opacity: .1 !important;
}