body {
  font-family: "Cairo";
  font-weight: 900;
  background-color: #e5e0ff;
}
.App {
  margin-top: 5rem;

  /* border-radius: 20px; */
  /* border: 1px solid black; */
  /* height: calc(100vh - 20px); */
}
* {
  font-family: "Cairo";
}
.logo5 {
  width: 2rem;
  padding: 6px;
  justify-content: center;
  align-items: center;
}

.logo5:hover {
  cursor: pointer;
  fill: #7286d3;
  background-color: #1da0f217;
  border-radius: 50px;
  transition: 0.2s ease-in-out;
}
