.Back:hover {
  color: rgb(160, 160, 212);
  scale: 1.02;
  transition: 0.2s;
}
.Back {
  text-decoration: none;
  background-color: black;
  color: white;
  border-radius: 0.9em;
  padding: 0.4rem;
  margin-left: 4rem;
  border: 1px solid black;
}
.cardDetailsContainer {
  box-sizing: border-box;
  color: black;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  align-items: center;
}
.detailsContainer {
  width: 60vw;
  padding: 1rem;
  display: flex;
  border-radius: 32px;
  flex-direction: column;
  background-color: #a8c5d179;
  margin: 1rem;
}

.detailsContainer > p {
  text-align: left;
  font-size: large;
  letter-spacing: 1px;
}

.sideImge {
  width: 35vw;
  display: flex;
  border-radius: 32px;
  margin-left: 1rem;
  box-shadow: 0 1px 1px black;
}
.sideImge:hover {
  scale: 1.03;
  transition: 0.6s;
}

/* .sideImgeContainer {
    padding: 0 2rem  0 ;
    display: flex;
    order: 1;
  } */

.commentTable {
  border-bottom: 1px solid rgba(201, 201, 201, 0.7);
}
.commentTable:hover {
  background-color: rgba(186, 186, 186, 0.359);
  transition: 0.9s;
}

@media screen and (max-width: 966px) {
  .sideImge{
    width: 60vw;
  }
  .detailsContainer {
    width: 90vw;
  }
  .cardDetailsContainer {
    flex-direction: column;
}}
@media screen and (max-width: 765px) {
  .cardDetailsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .detailsContainer {
    width: 90vw;
  }

  .sideImge {
    width: 60vw;
  }
}

@media screen and (max-width: 400px) {
  .sideImge {
    width: 90vw;
  }
  .commentTable{
    width: 90vw;
    padding: 0
  }
  .cardDetailsContainer{
    flex-direction: column;
  }
}

@media screen and (max-width: 320) {
  .sideImge {
    width: 100vw;
  }
  .cardDetailsContainer {
    width: 100vw;
  }
}
